<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="">About</a></li>
          <li class="list__item"><a href="">Afflitates</a></li>
          <li class="list__item"><a href="">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="">Contact</a></li>
          <li class="list__item"><a href="">Knowledge Base</a></li>
          <li class="list__item"><a href="">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="">Domain Checker</a></li>
          <li class="list__item"><a href="">Domain Transfer</a></li>
          <li class="list__item"><a href="">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/Images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 George Boateng</p>
    </section>
  </div>
</footer>
