<div class="callout callout--primary">
  <div class="grid grid--1x2 grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
        magnam, cum nemo id quae pariatur laudantium facere veritatis in error
        maxime, possimus iure suscipit itaque obcaecati ea sunt velit totam.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretch">Get Started Now</a>
  </div>
</div>
