<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container"
        ><svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy Cloud To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        distinctio assumenda accusantium possimus ducimus non nulla repellendus
        pariatur mollitia id eligendi alias nostrum esse optio, natus voluptatum
        tempore dolore error.
      </p>
      <a class="link-arrow" href="">Learn More</a>
    </div>
    <img class="feature__image" src="Images/easy@2x.jpg" alt="" />
  </article>
</section>

<section class="block container">
  <article class="grid grid--1x2 feature">
    <img class="feature__image" src="Images/fast@2x.jpg" alt="" />
    <div class="feature__content">
      <span class="icon-container"
        ><svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        distinctio assumenda accusantium possimus ducimus non nulla repellendus
        pariatur mollitia id eligendi alias nostrum esse optio, natus voluptatum
        tempore dolore error.
      </p>
      <a class="link-arrow" href="">Learn More</a>
    </div>
  </article>
</section>

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container"
        ><svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        distinctio assumenda accusantium possimus ducimus non nulla repellendus
        pariatur mollitia id eligendi alias nostrum esse optio, natus voluptatum
        tempore dolore error.
      </p>
      <a class="link-arrow" href="">Learn More</a>
    </div>
    <img class="feature__image" src="Images/wordpress@2x.jpg" alt="" />
  </article>
</section>
