<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quis non,
    rerum mollitia aperiam minima enim? Necessitatibus voluptatum totam
    veritatis?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media___title quote__author">John Smith</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
